/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DEBUG */



/* header */
header{
    text-align: center;
}
.logo{
    width:400px;
    margin: 20px auto;
}

.logo img{
    width:100%;
    max-width: 400px;
}

.input_field input{
    width: 400px;
    border-radius: 10px;
    padding:10px;
}
.input_field button{
    padding:10px;
    border-radius: 10px;
}

/* MAIN */
.list_container{
    width: 60%;
    min-width: 500px;
    padding: 15px;
    margin:auto;
    margin-top: 100px;
    border-radius: 15px;
    background-color: #eee;
}

.list_container ul{
    list-style: none;
}
.list_container ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
}



